main {
    height: 1200px;
    grid-template-rows: 325px 50px 325px repeat(4, 250px);
}
/* HERO-IMG */
main .hero {
    grid-area: 1/1/3/5;
}
main .hero .menu ul a li {
    margin-left: 25px;
}
main .hero .menu ul {
    margin-left: 10px;
}

/* HERO-DESCRIPTION */
main .hero-description {
    grid-area: 3/1/4/5;
}
main .hero-description .text {
    width: 74%;
    height: 55%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}
main .hero-description .text h1 {
    margin-top: 10px;
    font-size: 5vw;
    font-weight: 700;
}

/* BUTTONS */
main .slider-buttons {
    z-index: 1;
    grid-area: 2/3/3/5;
}

/* FOOTER */
main .footer-left {
    grid-area: 4/1/5/5;
}
main .footer-right {
    grid-area: 6/1/7/5;
}
main .footer-center {
    grid-area: 5/1/6/5;
}